/* Todo: We need to define variables for any colour used in the project
and add the corresponding dark theme colour to the .dark class
so theme toggle works across all pages */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-colour: #f4f4f6;
  --text-colour: black;
  --nav-bg-colour: linear-gradient(90deg, #1d1b85, #9489f9 );
}

body {
  background: var(--background-colour);
  color: var(--text-colour);
  min-height: 100vh;
}

nav {
  background: var(--nav-bg-colour);
}

.dark {
  --background-colour: #0f0f1a;
  --text-colour: white;
  --nav-bg-colour: linear-gradient(90deg, #1d1b85, #0f0f1a);
}
